@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  height: auto !important;
}
